/*generic section*/
/*body{position: relative;padding-top: 84px;}*/
.container-fluid, .container-fluid .row, .container-fluid .row .col{margin: 0;padding: 0;}
.container{max-width: 1024px;margin: auto;}
h1{text-align:center;font-family: MyanmarText;font-size:3.25em;font-style:bold;color:#fff;}
h2{text-align:center;font-family:MyanmarText;font-size:3em;color:#fff;}
p{font-family: MyanmarText;font-size: 1.25em;line-height: 34px;color: #7e7c7c;font-style: bold;}
/*font css*/
@font-face{src:url(../font/mmrtext.ttf);font-family:MyanmarText; }
@font-face{src:url(../font/taile.ttf);font-family:Microsoft Tai Le;; }
@font-face{src:url(../font/swiss721blackcondensedbt.ttf);font-family:Swis721BlkCnBT;}
@font-face{src:url(../font/mmrtextb.ttf);font-family: MicrosoftTaiLebold;}
/*basic css*/
header .navbar { padding:0;}
header .navbar .navbar-brand { padding:12px 0 10px 10px;}
/*header .navbar-nav { padding:17px;}*/
header .navbar-nav .nav-item {padding-right:15px;}
header .navbar-nav .nav-item .nav-link {font-size: 1.25em; color: #000000;font-family:Swis721BlkCnBT;padding: 13px 14px 13px 18px; border-radius: 10%;}
header .navbar-nav .nav-item .nav-link:hover{background-image: linear-gradient(#d76efd, #ad0be9);}
/*banner section*/
.jumbotron{margin: 0; background-image: url(../img/banner.png);background-repeat: no-repeat;background-size: cover;padding: 192px 0 245px;}
/*location section*/
.bg-clr{background-color: #ececec;}
.location {padding-top: 22px;}
.location h3{margin-top: 20px;margin-bottom: 0;font-family: MyanmarText;font-size: 1.625em;color: #7e7c7c;}
.location span{margin-top: 10px;margin-bottom: 0;font-family: MyanmarText;font-size:1.375em;color: #7e7c7c;}
/*about section*/
.about{padding: 52px 0 52px;}
.about p{margin:10px 0 0;}
/*footer section*/
footer p{font-family: MicrosoftTaiLebold; margin: 0;color:#7e7c7c;font-size: 1.25em;line-height: 34px;font-style: bold;}

/*media-query section*/
@media (max-width: 767.98px) { 
	h1{font-size:2.20em;}
	h2{font-size:2em;}
	h3{font-size: 1.25em;}
	p{font-size: 1em;}
	span{font-size:1em;}
	header .navbar .navbar-brand img{width: 100%;}
	.location img{width: 90%; }
	.about img{width: 80%; }
	.location .col-md{margin-bottom: 15px;}

}